<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">
    <resultMap id="userMapper" type="User">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="passwd" column="user_pw"/>
        <result property="userIndex" column="user_type"/>
    </resultMap>

    <sql id="columns">
        user_id,user_name,user_pw,user_type
    </sql>

    <select id="queryAllUser" resultMap="userMapper">
        select <include refid="columns"/> from gsm_user;
    </select>
</mapper>
