您好,{{name}},<br> 您提交找回密码请求,请点击如下链接重设您的密码:
<br><a href={{url}}>{{url}}</a>,<br>
(如果您无法点击这个链接，请将此链接复制到浏览器地址栏后访问)<br>
为了保证您帐号的安全性，该链接有效期为24小时，并且点击一次后将失效!设置并牢记密码保护问题将更好地保障您的帐号安全。
如果您误收到此电子邮件，则可能是其他用户在尝试帐号设置时的误操作，如果您并未发起该请求，则无需再进行任何操作，并可以放心地忽略此电子邮件。
感谢您使用{{project}}服务<br>
XX项目组<br>"